body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chessBoard {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid #333;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: white;
}

.black {
    background-color: darkgreen;
}

.chessPiece {
    max-width: 80%;
    max-height: 80%;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.chessPiece:hover {
    cursor: pointer;
}
